@import "slider.scss";

:root {
  --blue: #00b4ff;
  --blue-rgb: 0, 180, 255;
  --border-grey: #ddd;
  --bg-white: #fff;
  --bg-main: #eee;
  --color-main: #000;
  --color-link: #333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --border-grey: #202838;
    --bg-white: #0e1014;
    --bg-main: #1d1f24;
    --color-main: #fbfbfb;
    --color-link: #b3b3b3;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  color: var(--color-main);
  background: var(--bg-main);
  font-family: "Montserrat", Sans-Serif;

  &.darktheme {
    --border-grey: #202838;
    --bg-white: #0e1014;
    --bg-main: #1d1f24;
    --color-main: #fbfbfb;
    --color-link: #b3b3b3;
  }
}

a:not([class]) {
  color: var(--color-link);
  text-decoration: underline;

  &:hover {
    color: var(--color-main);
    text-decoration: none;
  }
}

@keyframes lifeSpan {
  from {
    opacity: 1;
    display: block;
  }
  to {
    opacity: 0;
    display: none;
  }
}

@keyframes modalEnter {
  from {
    transform: translate(-50%, -45%);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div.loader {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  transform: translate(-50%, -50%);
  color: var(--blue);
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 122.88 122.88'%3E%3Cpath d='M57.85,3.61a3.61,3.61,0,1,1,7.21,0V27.45a3.61,3.61,0,0,1-7.21,0V3.61ZM29.42,13.15a3.6,3.6,0,0,1,6.23-3.61L47.57,30.19a3.6,3.6,0,1,1-6.22,3.61L29.42,13.15ZM9.57,35.62a3.59,3.59,0,0,1,3.58-6.22L33.8,41.32a3.59,3.59,0,1,1-3.58,6.22L9.57,35.62ZM3.61,65a3.61,3.61,0,1,1,0-7.21H27.45a3.61,3.61,0,0,1,0,7.21Zm9.54,28.43a3.6,3.6,0,1,1-3.61-6.23L30.19,75.31a3.6,3.6,0,1,1,3.61,6.22L13.15,93.46Zm22.47,19.85a3.59,3.59,0,0,1-6.22-3.58L41.32,89.08a3.59,3.59,0,1,1,6.22,3.58L35.62,113.31Zm29.41,6a3.61,3.61,0,1,1-7.21,0V95.43a3.61,3.61,0,0,1,7.21,0v23.84Zm28.43-9.54a3.6,3.6,0,0,1-6.23,3.61L75.31,92.69a3.6,3.6,0,0,1,6.22-3.61l11.93,20.65Zm19.85-22.47a3.59,3.59,0,0,1-3.58,6.22L89.08,81.56a3.59,3.59,0,1,1,3.58-6.22l20.65,11.92Zm6-29.41a3.61,3.61,0,1,1,0,7.21H95.43a3.61,3.61,0,0,1,0-7.21Zm-9.54-28.43a3.6,3.6,0,0,1,3.61,6.23L92.69,47.57a3.6,3.6,0,0,1-3.61-6.22l20.65-11.93ZM87.26,9.57a3.59,3.59,0,1,1,6.22,3.58L81.56,33.8a3.59,3.59,0,1,1-6.22-3.58L87.26,9.57Z'/%3E%3C/svg%3E");
  display: block;
  pointer-events: none;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: conic-gradient(
      from 20deg,
      transparent 0deg,
      transparent 5deg,
      currentColor 360deg
    );
    border-radius: 50%;
    animation: loader 1s infinite linear;
    animation-play-state: running;
  }

  &.hide {
    display: none;

    &::before {
      animation-play-state: paused;
    }
  }
}

div.resetModal {
  width: 250px;
  height: 180px;
  background: var(--bg-main);
  border-radius: 10px;
  display: grid;
  place-items: center;
  text-align: center;
  grid-auto-flow: row;
  grid-template-rows: 1fr 45px;
  grid-template-areas:
    "t t"
    "n y";
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 999;
  transform: translate(-50%, -50%);
  overflow: hidden;
  pointer-events: auto;
  user-select: none;
  animation: modalEnter 0.3s ease-out forwards;

  &.hide {
    display: none;
    pointer-events: none;
    animation: none;

    & + div.shadow {
      display: none;
      pointer-events: none;
      animation: none;
    }
  }

  & h2 {
    margin: 10px 20px;
    font-size: 1.2em;
    grid-area: t;
  }

  & button {
    width: 100%;
    height: 100%;
    border: none;
    color: white;
    background: rgba(black, 0.1);
    font-size: 1em;
    font-weight: 700;
    cursor: pointer;

    &.modalbtn--no {
      background: linear-gradient(
        to top,
        rgb(143, 22, 22) 0%,
        rgb(224, 48, 48) 100%
      );
    }
    &.modalbtn--yes {
      background: linear-gradient(
        to top,
        rgb(30, 168, 30) 0%,
        rgb(63, 240, 63) 100%
      );
    }
  }
}

div.shadow {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(black, 45%);
  z-index: 998;
  animation: fadeIn 0.3s ease-out forwards;
}

nav {
  width: 100%;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: var(--bg-white);
  border-bottom: solid 2px var(--border-grey);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  perspective: 1000px;
  z-index: 1;

  &:before {
    content: "FILTERR";
    width: auto;
    height: auto;
    font-size: 32px;
    position: absolute;
    top: 40%;
    left: 10px;
    transform: translateY(-50%);
    transition: transform 0.6s ease-in-out;
  }

  &:after {
    content: "A CSS Experiment";
    width: auto;
    height: auto;
    font-size: 9px;
    position: absolute;
    top: 90%;
    left: 57px;
    transform: translateY(-100%);
  }

  & form {
    margin-left: auto;
    display: grid;
    grid-auto-flow: column;

    & label[for="filecontrol"] {
      height: 50px;
      width: 50px;
      display: grid;
      grid-auto-flow: column;
      place-items: center;
      color: var(--color-main);
      border-left: solid 2px var(--border-grey);
      border-right: solid 1px var(--border-grey);
      cursor: pointer;

      &:hover {
        background: rgba(var(--blue-rgb), 0.1);
      }

      & svg {
        width: 60%;
        height: 60%;
        fill: currentColor;
      }
    }

    & input[type="file"]#filecontrol {
      display: none;
      pointer-events: none;
    }
  }
}

canvas.imgcanv {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 100px;
  z-index: 0;
}

main {
  width: 100%;
  height: auto;
  padding: 50px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: var(--bg-main);
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 100px;
  z-index: -1;

  &.hasimg {
    background-color: #eee;
    background-size: 100px 100px;
    background-position: center;
    background-image: conic-gradient(
      #cdcdcd 25%,
      transparent 25%,
      transparent 50%,
      #cdcdcd 50%,
      #cdcdcd 75%,
      transparent 75%,
      transparent 100%
    );

    & h1,
    & h2 {
      display: none;
    }
  }

  @media (max-width: 550px) {
    & h1 {
      font-size: 28px;
    }

    & h2 {
      font-size: 16px;
    }
  }
}

div.tools {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-white);
  border-top: solid 2px var(--border-grey);
  z-index: 1;

  & a.tool {
    width: 50px;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-left: solid 1px var(--border-grey);
    border-right: solid 1px var(--border-grey);
    cursor: pointer;

    &::after {
      transform: translateX(-50%);
    }

    &:hover {
      background: rgba(var(--blue-rgb), 0.1);

      &::after {
        content: attr(title);
        padding: 10px 0;
        width: 150px;
        height: auto;
        color: var(--color-main);
        background: var(--bg-white);
        box-shadow: 0 0 10px rgba(black, 25%);
        border-radius: 50vw;
        text-align: center;
        position: absolute;
        top: -210%;
        left: 50%;
        transform: translateX(-50%);
        pointer-events: none;
        animation: lifeSpan 0.5s linear forwards;
        animation-delay: 1s;
      }
    }

    &:first-of-type {
      border-left: solid 2px var(--border-grey);
    }

    &:last-of-type {
      border-right: solid 2px var(--border-grey);
    }

    &.active {
      color: rgba(var(--blue-rgb), 75%);
      background: radial-gradient(
        circle at 50% 100%,
        rgba(var(--blue-rgb), 75%) 0%,
        rgba(var(--blue-rgb), 75%) 15%,
        transparent 15.5%,
        transparent 100%
      );

      & svg {
        margin-bottom: 8px;
      }
    }

    & svg {
      width: 50%;
      height: 50%;
      fill: currentColor;
    }
  }
}

div.controls {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-white);
  border-top: solid 2px var(--border-grey);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  z-index: 0;

  & a {
    width: 50px;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--color-main);
    cursor: pointer;

    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }

    &:first-of-type {
      border-right: solid 2px var(--border-grey);
    }
    &:last-of-type {
      border-left: solid 2px var(--border-grey);
    }

    & svg {
      width: 50%;
      height: 50%;
      fill: currentColor;
    }

    &.resetcurrent svg {
      width: 40%;
      height: 40%;
    }
  }

  & input[type="range"].slider {
    width: auto;
    height: 90%;
    margin: 0 20px;
    flex: 1;
  }
}

div.darkswitch {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 65px;
  left: 15px;
  background: var(--bg-white);
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%0A%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.2256 2.00253C9.59172 1.94346 6.93894 2.9189 4.92893 4.92891C1.02369 8.83415 1.02369 15.1658 4.92893 19.071C8.83418 22.9763 15.1658 22.9763 19.0711 19.071C21.0811 17.061 22.0565 14.4082 21.9975 11.7743C21.9796 10.9772 21.8669 10.1818 21.6595 9.40643C21.0933 9.9488 20.5078 10.4276 19.9163 10.8425C18.5649 11.7906 17.1826 12.4053 15.9301 12.6837C14.0241 13.1072 12.7156 12.7156 12 12C11.2844 11.2844 10.8928 9.97588 11.3163 8.0699C11.5947 6.81738 12.2094 5.43511 13.1575 4.08368C13.5724 3.49221 14.0512 2.90664 14.5935 2.34046C13.8182 2.13305 13.0228 2.02041 12.2256 2.00253ZM17.6569 17.6568C18.9081 16.4056 19.6582 14.8431 19.9072 13.2186C16.3611 15.2643 12.638 15.4664 10.5858 13.4142C8.53361 11.362 8.73568 7.63895 10.7814 4.09281C9.1569 4.34184 7.59434 5.09193 6.34315 6.34313C3.21895 9.46732 3.21895 14.5326 6.34315 17.6568C9.46734 20.781 14.5327 20.781 17.6569 17.6568Z' fill='black' /%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(black, 25%);
  cursor: pointer;

  &.light {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%0A%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4 9C4 11.9611 5.60879 14.5465 8 15.9297V15.9999C8 18.2091 9.79086 19.9999 12 19.9999C14.2091 19.9999 16 18.2091 16 15.9999V15.9297C18.3912 14.5465 20 11.9611 20 9C20 4.58172 16.4183 1 12 1C7.58172 1 4 4.58172 4 9ZM16 13.4722C17.2275 12.3736 18 10.777 18 9C18 5.68629 15.3137 3 12 3C8.68629 3 6 5.68629 6 9C6 10.777 6.7725 12.3736 8 13.4722L10 13.4713V16C10 17.1045 10.8954 17.9999 12 17.9999C13.1045 17.9999 14 17.1045 14 15.9999V13.4713L16 13.4722Z' fill='white' /%3E%3Cpath d='M10 21.0064V21C10.5883 21.3403 11.2714 21.5351 12 21.5351C12.7286 21.5351 13.4117 21.3403 14 21V21.0064C14 22.111 13.1046 23.0064 12 23.0064C10.8954 23.0064 10 22.111 10 21.0064Z' fill='white' /%3E%3C/svg%3E");

    &:hover::after {
      content: "Light Mode";
    }
  }

  &:hover::after {
    content: "Dark Mode";
    padding: 5px 10px;
    width: 150px;
    height: auto;
    position: relative;
    left: 120%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    display: grid;
    background: var(--bg-white);
    border-radius: 50vw;
    box-shadow: 0 0 5px rgba(black, 25%);
    animation: lifeSpan 0.5s linear forwards;
    animation-delay: 1s;
  }
}
