@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

* {
	box-sizing: border-box;
}
html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
}
body {
	color: #000;
	background: #eee;
	font-family: Montserrat, Sans-Serif;
}
a:not([class]) {
	color: #333;
	text-decoration: underline;

	&:hover {
		color: #000;
		text-decoration: none;
	}
}

@keyframes loader {
	0% {
		transform: translate(-50%, -50%) rotate(0deg) scale(1.05);
	}
	50% {
		transform: translate(-50%, -50%) rotate(180deg) scale(1);
	}
	100% {
		transform: translate(-50%, -50%) rotate(360deg) scale(1.05);
	}
}

@keyframes left {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-360deg);
	}
}
@keyframes right {
	from {
		transform: rotate(-360deg);
	}
	to {
		transform: rotate(0deg);
	}
}


div.loader {
	width: 25%;
	height: 0px;
	margin: 0px;
	padding: 0px;
	padding-bottom: 25%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.3);
	border-radius: 50%;
	z-index: 999;
	animation: loader 3s linear infinite;

	&.hide {
		display: none;
		animation-play-state: paused;

			&:before, &:after {
				animation-play-state: paused;
			}
		}

	 &:before {
		content: '';
		width: 50%;
		height: 100%;
		margin: 0px;
		padding: 0px;
		position: absolute;
		left: 0px;
		z-index: 999;
		background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 1) 100%);
		border-radius: 100% 0 0 100% / 50% 0 0 50%;
		animation: left 1s linear infinite;
		transform-origin: right center;
	}

	&:after {
		content: '';
		width: 50%;
		height: 100%;
		margin: 0px;
		padding: 0px;
		position: absolute;
		right: 0px;
		z-index: 999;
		background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 1) 100%);
		border-radius: 0 100% 100% 0 / 0 50% 50% 0;
		animation: right 2s linear infinite;
		transform-origin: left center;
	}

	& div.center {
		width: 90%;
		height: 90%;
		margin: 0px;
		padding: 0px;
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 1000;
		background: rgba(0, 0, 0, 0.1);
		transform: translate(-50%, -50%);
		border-radius: 50%;
	}
}

nav {
	width: 100%;
	height: 50px;
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background: #fff;
	border-bottom: solid 2px #ddd;
	perspective: 1000px;

	&:after {
		content: 'FILTERR';
		width: auto;
		height: auto;
		margin: 0px;
		padding: 0px;
		font-size: 32px;
		position: absolute;
		top: 50%;
		left: 60px;
		transform: translateY(-50%);
		transition: transform 0.6s ease-in-out;

		@media (max-width: 550px) {
			transform: translateY(-50%) rotateX(-90deg);
		}
	}

	& a.btn {
		width: 50px;
		height: 100%;
		margin: 0px;
		padding: 0px;
		margin-right: auto;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		border-right: solid 2px #ddd;

		&:hover {
			background: rgba(0, 0, 0, 0.05);
		}

		& svg {
			width: 50%;
			height: 50%;
			margin: 0px;
			padding: 0px;
			fill: #000;
		}
	}

	& form {
		margin-left: auto;

		& input {
			margin: 0px 10px;
			padding: 0px;
		}
	}
}

canvas.imgcanv {
	width: 100%;
	height: calc(100vh - 150px);
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 50px;
	left: 0px;
	right: 0px;
	bottom: 100px;
	z-index: 0;
}

main {
	width: 100%;
	height: calc(100vh - 150px);
	margin: 0px;
	padding: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: absolute;
	top: 50px;
	left: 0px;
	right: 0px;
	bottom: 100px;
	z-index: -1;

	&.hasimg {
		display: none;
	}

	@media (max-width: 550px) {
		& h1 {
			font-size: 28px;
		}

		& h2 {
			font-size: 16px;
		}
	}
}

div.tools {
	width: 100%;
	height: 50px;
	margin: 0px;
	padding: 0px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fff;
	border-top: solid 2px #ddd;

	& a.tool {
		width: 50px;
		height: 100%;
		margin: 0px;
		padding: 0px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		border-left: solid 1px #ddd;
		border-right: solid 1px #ddd;
		cursor: pointer;

		&:hover {
			background: rgba(0, 0, 0, 0.05);
		}

		&:first-of-type {
			border-left: solid 2px #ddd;
		}
		&:last-of-type {
			border-right: solid 2px #ddd;
		}

		&.active {
			background: rgba(0, 0, 0, 0.1);

			&:hover {
				background: rgba(0, 0, 0, 0.05);
			}
		}

		& svg {
			width: 50%;
			height: 50%;
			margin: 0px;
			padding: 0px;
			fill: #000;
		}
	}
}

div.controls {
	width: 100%;
	height: 50px;
	margin: 0px;
	padding: 0px;
	position: absolute;
	bottom: 50px;
	left: 0px;
	right: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fff;
	border-top: solid 2px #ddd;

	& a {
		width: 50px;
		height: 100%;
		margin: 0px;
		padding: 0px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;

		&:hover {
			background: rgba(0, 0, 0, 0.05);
		}

		&:first-of-type {
			border-right: solid 2px #ddd;
		}
		&:last-of-type {
			border-left: solid 2px #ddd;
		}

		& svg {
			width: 50%;
			height: 50%;
			margin: 0px;
			padding: 0px;
			fill: #000;
		}
	}

	& input[type="range"].slider {
		width: auto;
		height: 90%;
		margin: 0px 20px;
		padding: 0px;
		flex: 1;
	}
}

