@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import "slider.scss";

:root {
  --blue: #00b4ff;
  --blue-rgb: 0, 180, 255;
  --border-grey: #ddd;
  --bg-white: #fff;
  --bg-main: #eee;
  --color-main: #000;
  --color-link: #333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --border-grey: #202838;
    --bg-white: #0e1014;
    --bg-main: #1d1f24;
    --color-main: #fbfbfb;
    --color-link: #b3b3b3;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  color: var(--color-main);
  background: var(--bg-main);
  font-family: "Montserrat", Sans-Serif;
}

a:not([class]) {
  color: var(--color-link);
  text-decoration: underline;

  &:hover {
    color: var(--color-main);
    text-decoration: none;
  }
}

@keyframes lifeSpan {
  from {
    opacity: 1;
    display: block;
  }
  to {
    opacity: 0;
    display: none;
  }
}

@keyframes modalEnter {
  from {
    transform: translate(-50%, -45%);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div.loader {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--blue);
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 122.88 122.88'%3E%3Cpath d='M57.85,3.61a3.61,3.61,0,1,1,7.21,0V27.45a3.61,3.61,0,0,1-7.21,0V3.61ZM29.42,13.15a3.6,3.6,0,0,1,6.23-3.61L47.57,30.19a3.6,3.6,0,1,1-6.22,3.61L29.42,13.15ZM9.57,35.62a3.59,3.59,0,0,1,3.58-6.22L33.8,41.32a3.59,3.59,0,1,1-3.58,6.22L9.57,35.62ZM3.61,65a3.61,3.61,0,1,1,0-7.21H27.45a3.61,3.61,0,0,1,0,7.21Zm9.54,28.43a3.6,3.6,0,1,1-3.61-6.23L30.19,75.31a3.6,3.6,0,1,1,3.61,6.22L13.15,93.46Zm22.47,19.85a3.59,3.59,0,0,1-6.22-3.58L41.32,89.08a3.59,3.59,0,1,1,6.22,3.58L35.62,113.31Zm29.41,6a3.61,3.61,0,1,1-7.21,0V95.43a3.61,3.61,0,0,1,7.21,0v23.84Zm28.43-9.54a3.6,3.6,0,0,1-6.23,3.61L75.31,92.69a3.6,3.6,0,0,1,6.22-3.61l11.93,20.65Zm19.85-22.47a3.59,3.59,0,0,1-3.58,6.22L89.08,81.56a3.59,3.59,0,1,1,3.58-6.22l20.65,11.92Zm6-29.41a3.61,3.61,0,1,1,0,7.21H95.43a3.61,3.61,0,0,1,0-7.21Zm-9.54-28.43a3.6,3.6,0,0,1,3.61,6.23L92.69,47.57a3.6,3.6,0,0,1-3.61-6.22l20.65-11.93ZM87.26,9.57a3.59,3.59,0,1,1,6.22,3.58L81.56,33.8a3.59,3.59,0,1,1-6.22-3.58L87.26,9.57Z'/%3E%3C/svg%3E");
  display: block;
  pointer-events: none;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: conic-gradient(
      from 20deg,
      transparent 0deg,
      transparent 5deg,
      currentColor 360deg
    );
    border-radius: 50%;
    animation: loader 1s infinite linear;
    animation-play-state: running;
  }

  &.hide {
    display: none;

    &::before {
      animation-play-state: paused;
    }
  }
}

div.resetModal {
  width: 250px;
  height: 180px;
  background: var(--bg-main);
  border-radius: 10px;
  display: grid;
  place-items: center;
  text-align: center;
  grid-auto-flow: row;
  grid-template-rows: 1fr 45px;
  grid-template-areas:
    "t t"
    "n y";
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 999;
  transform: translate(-50%, -50%);
  overflow: hidden;
  pointer-events: auto;
  user-select: none;
  animation: modalEnter 0.3s ease-out forwards;

  &.hide {
    display: none;
    pointer-events: none;
    animation: none;

    & + div.shadow {
      display: none;
      pointer-events: none;
      animation: none;
    }
  }

  & h2 {
    margin: 10px 20px;
    font-size: 1.2em;
    grid-area: t;
  }

  & button {
    width: 100%;
    height: 100%;
    border: none;
    color: white;
    background: rgba(black, 0.1);
    font-size: 1em;
    font-weight: 700;
    cursor: pointer;

    &.modalbtn--no {
      background: linear-gradient(
        to top,
        rgb(143, 22, 22) 0%,
        rgb(224, 48, 48) 100%
      );
    }
    &.modalbtn--yes {
      background: linear-gradient(
        to top,
        rgb(30, 168, 30) 0%,
        rgb(63, 240, 63) 100%
      );
    }
  }
}

div.shadow {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(black, 45%);
  z-index: 998;
  animation: fadeIn 0.3s ease-out forwards;
}

nav {
  width: 100%;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: var(--bg-white);
  border-bottom: solid 2px var(--border-grey);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  perspective: 1000px;
  z-index: 1;

  &:before {
    content: "FILTERR";
    width: auto;
    height: auto;
    font-size: 32px;
    position: absolute;
    top: 40%;
    left: 10px;
    transform: translateY(-50%);
    transition: transform 0.6s ease-in-out;
  }

  &:after {
    content: "A CSS Experiment";
    width: auto;
    height: auto;
    font-size: 9px;
    position: absolute;
    top: 90%;
    left: 57px;
    transform: translateY(-100%);
  }

  & form {
    margin-left: auto;
    display: grid;
    grid-auto-flow: column;

    & label[for="filecontrol"] {
      height: 50px;
      width: 50px;
      display: grid;
      grid-auto-flow: column;
      place-items: center;
      color: var(--color-main);
      border-left: solid 2px var(--border-grey);
      border-right: solid 1px var(--border-grey);
      cursor: pointer;

      &:hover {
        background: rgba(var(--blue-rgb), 0.1);
      }

      & svg {
        width: 60%;
        height: 60%;
        fill: currentColor;
      }
    }

    & input[type="file"]#filecontrol {
      display: none;
      pointer-events: none;
    }
  }
}

canvas.imgcanv {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 100px;
  z-index: 0;
}

main {
  width: 100%;
  height: auto;
  padding: 50px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 100px;
  z-index: -1;

  &.hasimg {
    display: none;
  }

  @media (max-width: 550px) {
    & h1 {
      font-size: 28px;
    }

    & h2 {
      font-size: 16px;
    }
  }
}

div.tools {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-white);
  border-top: solid 2px var(--border-grey);
  z-index: 1;

  & a.tool {
    width: 50px;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-left: solid 1px var(--border-grey);
    border-right: solid 1px var(--border-grey);
    cursor: pointer;

    &::after {
      transform: translateX(-50%);
    }

    &:hover {
      background: rgba(var(--blue-rgb), 0.1);

      &::after {
        content: attr(title);
        padding: 10px 0;
        width: 150px;
        height: auto;
        color: black;
        background: white;
        box-shadow: 0 0 10px rgba(black, 25%);
        border-radius: 50vw;
        text-align: center;
        position: absolute;
        top: -210%;
        left: 50%;
        transform: translateX(-50%);
        pointer-events: none;
        animation: lifeSpan 0.5s linear forwards;
        animation-delay: 1s;
      }
    }

    &:first-of-type {
      border-left: solid 2px var(--border-grey);
    }

    &:last-of-type {
      border-right: solid 2px var(--border-grey);
    }

    &.active {
      color: rgba(var(--blue-rgb), 75%);
      background: radial-gradient(
        circle at 50% 100%,
        rgba(var(--blue-rgb), 75%) 0%,
        rgba(var(--blue-rgb), 75%) 15%,
        transparent 15.5%,
        transparent 100%
      );

      & svg {
        margin-bottom: 8px;
      }
    }

    & svg {
      width: 50%;
      height: 50%;
      fill: currentColor;
    }
  }
}

div.controls {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-white);
  border-top: solid 2px var(--border-grey);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  z-index: 0;

  & a {
    width: 50px;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--color-main);
    cursor: pointer;

    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }

    &:first-of-type {
      border-right: solid 2px var(--border-grey);
    }
    &:last-of-type {
      border-left: solid 2px var(--border-grey);
    }

    & svg {
      width: 50%;
      height: 50%;
      fill: currentColor;
    }

    &.resetcurrent svg {
      width: 40%;
      height: 40%;
    }
  }

  & input[type="range"].slider {
    width: auto;
    height: 90%;
    margin: 0 20px;
    flex: 1;
  }
}
